body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;

  display: flex;
  flex-direction: column;
}
.navbar {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  align-items: center;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.349);
  padding: 20px;
}
.header {
  background-color: darkolivegreen;
  color: white;
  padding: 20px 100px;
}
h3 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  color: wheat;
}
ul,
a {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  padding: 2px;
  color: wheat;
  gap: 16px;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
a:hover,
button:hover {
  background-color: darkorange;
}
.left {
  background-color: rgba(245, 222, 179, 0.404);
  padding: 20px;
}
.intro {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}
h1 {
  font-size: 48px;
  font-weight: extra bold;
}
.right img {
  display: flex;
  width: 400px;
  border: 2px solid orange;
}
/* -------------content-student work--------------- */
.container-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: rgb(218, 141, 0);
}
.title {
  font-size: 36px;
  font-weight: extra bold;
  padding: 0;
  margin: 0;
}
.content {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  gap: 4em;
  margin-bottom: 40px;
}
.content p {
  text-align: center;
  font-size: 18px;
}
.content p:hover {
  background-color: rgb(85, 107, 47);
  border-radius: 10px;
}
.content img {
  width: 200px;
  height: 300px;
  border: 4px solid darkolivegreen;
  padding: 5px;
}
.quote {
  padding: 20px 100px;
}

.container-two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 36px;
  font-style: italic;
  background-color: rgba(85, 107, 47, 0.781);
}
.container-three {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(218, 141, 0);
  background-color: rgb(243, 236, 222);
  padding: 1em;
  border-radius: 10px;
  gap: 3em;
}
.modal button {
  border: whitesmoke solid;
}

button {
  background-color: orange;
  color: white;
  padding: 12px 32px;
  font-weight: bold;
  border-radius: 8px;
  font-size: 18px;
  border: none;
}
.footer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}
